<html ng-app="App" manifest="/cache.manifest">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Beers-about</title>
        <link href="../css/materialize.css" type="text/css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav ng-controller="userController" class="amber">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo"><img src="../img/beerlogo_03.png"/></a>
                    <ul id="nav-mobile" class="right side-nav">
                        <li><a href="/">Map</a></li>
                        <li><a href="/chat">Chat</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a ng-if="!user" href="/login">Log in</a></li>
                        <li><a ng-if="user" href="/logout">Log out {{user.username}}</a></li>
                    </ul>
                    <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
        <div class="container">
            <h4>About</h4>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Used technologies/libraries in frontend</h4></li>
                <li class="collection-item">HTML5 + CSS + JS</li>
                <li class="collection-item">Jquery</li>
                <li class="collection-item">angularjs</li>
                <li class="collection-item">socket-io wrapper for angular(Brian Ford)</li>
                <li class="collection-item">angular-google-maps + lodash</li>
                <li class="collection-item">MaterializeCSS</li>
            </ul>
            <ul class="collection with-header">
                <li class="collection-header"><h4>used technologies/libraries in backend</h4></li>
                <li class="collection-item">node.js</li>
                <li class="collection-item">Express</li>
                <li class="collection-item">socket.io</li>
                <li class="collection-item">passport</li>
                <li class="collection-item">mongoose</li>
                <li class="collection-item">bcrypt</li>
            </ul>
        </div>
        <script src="../js/lib/jquery.js"></script>
        <script src="../js/lib/angular.js"></script>
        <script src="../js/lib/lodash.js"></script>
        <script src="../js/lib/angular-google-maps.js"></script>
        <script src="../js/lib/socket.js"></script>
        <script src="../js/script.js"></script>
        <script src="../js/services.js"></script>
        <script src="../js/controllers/userController.js"></script>
        <script src="../js/lib/materialize.js"></script>
        <script src="../js/menu.js"></script>
    </body>
</html>