<html ng-app="App">
<head >
    <title>Beers-Map</title>

    <link href="../css/materialize.css" type="text/css" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<body ng-controller="breweryController">

<nav ng-controller="userController" class="amber">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img  src="../img/beerlogo_03.png"/></a>
            <ul id="nav-mobile" class="right side-nav">
                <li><a href="/">Map</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="#About">About</a></li>
                <li><a ng-if="!user" href="/login" >Log in</a></li>
                <li><a ng-if="user" href="/logout" >Log out {{user.username}}</a></li>
            </ul>
            <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
        </div>
    </div>
</nav>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
            </ui-gmap-markers>
        </ui-gmap-google-map>

<div class="section white">
    <div class="row container">
        <h2>Select a pin for more information <a href="" class="btn-floating amber accent-4"><i class="mdi-content-filter-list"></i></a>  <a href="" class="btn-floating amber accent-4"><i class="mdi-content-add"></i></a></h2>
    </div>
    <div class="row container">
        <div class="col m3 s12" ng-repeat="b in breweryData">
            <div class="card-panel brouwerijcard">
                <span class="card-title">{{b.name}}</span>
                <div class="card-content">
                    <p>{{b.streetAddress + ", " + b.locality}}</p>
                </div>
                <div class="card-action">
                 <a href="{{b.website}}">visit website</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="../js/lib/angular.js"></script>
<script src="../js/lib/lodash.js"></script>
<script src="../js/lib/angular-google-maps.js"></script>
<script src="../js/app.js"></script>
<script src="../js/lib/socket.js"></script>
<script src="../js/services.js"></script>
<script src="../js/controllers/breweryController.js"></script>
<script src="../js/controllers/userController.js"></script>



<script type="text/javascript" src="../js/lib/materialize.js"></script>

<script>

    $('.button-collapse').sideNav({menuWidth: 240, activationWidth: 70});



</script>
</body>
</html>