
.angular-google-map-container {
    height: 100%;
    margin: 0;
    padding: 0;

}

.brouwerijcard {
    min-height: 148px;
}

#chatcontent {
    height: 70%;

    overflow-y: scroll;

}

#send-message {
    height: 20%;

}

#userlist {
    height: 90%;

}

.hidden {
    visibility: hidden;
}

.controls {
    position: absolute;
    top: 70px;
    left: 10px;
}

#infopanel {
    position: absolute;

    right: 5px;

    top: 70px;

}

body {
    overflow: hidden;
    height: 100%;

}

#filterpanel {
    position: absolute;
    bottom: 0%;

    padding: 20px;
}

#addpanel {
    position: absolute;
    bottom: 0%;
    padding: 20px;
}



